# checking the data

In [1]:
import torch
import numpy as np
from torch_geometric.datasets import AmazonBook
import pandas as pd

In [2]:
entity_filtered = pd.read_csv('entity_filtered_list.csv')
user_filtered = pd.read_csv('users_filtered_list.csv')
item_filtered = pd.read_csv('item_filtered_list.csv')
kg_filtered = pd.read_csv('kg_filtered.csv')

## need to get the filtered items list as well

taobao_df = pd.read_csv("taobao/raw/UserBehavior.csv", header = None)
print(taobao_df.head())
taobao_df.columns = ['user_id', 'item_id', 'category_id', 'behavior_type', 'timestamp']
taobao_df.head()

   0        1        2   3           4
0  1  2268318  2520377  pv  1511544070
1  1  2333346  2520771  pv  1511561733
2  1  2576651   149192  pv  1511572885
3  1  3830808  4181361  pv  1511593493
4  1  4365585  2520377  pv  1511596146

   user_id  item_id  category_id behavior_type   timestamp
0        1  2268318      2520377            pv  1511544070
1        1  2333346      2520771            pv  1511561733
2        1  2576651       149192            pv  1511572885
3        1  3830808      4181361            pv  1511593493
4        1  4365585      2520377            pv  1511596146

In [3]:
## filtering for taobao where the itemid and category ids are present 
category_filtered = pd.read_csv('category_filtered_list.csv')
print(item_filtered.head())
print(category_filtered.head())

   Unnamed: 0  new_itemmap_id  itemmap_id  item_id
0           0               0           6  1587638
1           1               1          15  4102184
2           2               2          16  4823083
3           3               3          24  3597637
4           4               4          25   884047
   Unnamed: 0  new_categorymap_id  categorymap_id  category_id
0           0             1110292         4162025      1047470
1           1             1110293         4162026      2819583
2           2             1110294         4162027      1363318
3           3             1110295         4162029       360595
4           4             1110296         4162030      1234361

In [4]:
taobao_filtered = taobao_df[(taobao_df['item_id'].isin(item_filtered['item_id'])) & (taobao_df['category_id'].isin(category_filtered['category_id'])) & (taobao_df['user_id'].isin(user_filtered['user_id']))]

In [7]:
len(taobao_filtered['category_id'].unique())

7486

In [8]:
## looking at the kg_filtered now

In [9]:
kg_filtered[~((kg_filtered['head'].isin(item_filtered['new_itemmap_id'])) | (kg_filtered['head'].isin(category_filtered['new_categorymap_id'])))]

Empty DataFrame
Columns: [Unnamed: 0, head, tail, relation]
Index: []

In [10]:
kg_filtered.shape

(2221906, 4)

In [12]:
kg_filtered['tail'].max()

1117777

In [15]:
len(kg_filtered['head'].unique())

1117778

In [20]:
len(kg_filtered[kg_filtered['relation'] == 0]['tail'].unique())

7486

In [21]:
1110292 + 7486

1117778

In [22]:
len(kg_filtered['head'].unique())

1117778

In [23]:
2221906/2

1110953.0

In [24]:
taobao_filtered2 = taobao_df[(taobao_df['user_id'].isin(user_filtered['user_id']))]

In [29]:
taobao_filtered2[~taobao_filtered2['category_id'].isin(category_filtered['category_id'])]

Empty DataFrame
Columns: [user_id, item_id, category_id, behavior_type, timestamp]
Index: []

Okay so... all items/users/categories should be accounted for properly here ....