In [9]:
import numpy as np
import pandas as pd

In [10]:
kg = pd.read_csv('../data/kg_final.csv', 'r')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3457: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
kg.head()

         head,  elation,tail
0  2777,0,5071           NaN
1  4264,0,5369           NaN
2   370,0,5643           NaN
3  1000,0,5345           NaN
4  1598,0,5219           NaN

In [12]:
kg = kg['head,']

In [26]:
file = open('kg_final.txt','w')
for l in kg:
    l = l.replace(',',' ')
    file.write(l+"\n")
file.close()

In [ ]:
# file = open('kg_final.txt','w')
# for l in lines:
# 	file.write(l+"\n")
# file.close()